.container{
    justify-content: center;
    align-items: center;
 background: rgb(0,0,128);
background: linear-gradient(135deg, rgba(0,0,128,1) 0%, rgba(0,0,0,1) 56%);

box-shadow: #ffa500;
 

}


body
{
    min-height: 100vh; 
}

.report{
    display: flex;
    justify-content: center;
}
.cr{
   
    display: flex;
    justify-content: center;
    background-color:rgb(138, 113, 235);
    border: 1px solid #ff0000;
    margin-left: 1px; 
  }
.logintable
{
    font-family: sans-serif;
    font-size: large;
}

.loginth
{
    background-color: #333;
    color: #000000;
}

.loginth, .logintd
{
    padding: .8rem;
    font-size: 1.0rem;
}

@media screen and (max-width:1024px){
    
    
    .logintable{
           text-align: center;
    }
    .loginthead{
           display: none;
    }
    .logintd{
          display: block;
          text-align: center;
          margin: 15px;
    }

    .logintd:first-child{
        background-color: #333;
        color: #fff; 
        justify-content: center;
     
    }
    .logintd:nth-child(1)::before{
        content:"No.: "
    }

    .logintd:nth-child(2)::before{
        content:"Mobile: "
    }
    
    .logintd:nth-child(3)::before{
        content:"Action: "
    }

}